.advantages {
    &__list {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 24px;
        max-width: 279px;
        width: 100%;
        border-radius: 32px;
        backdrop-filter: blur(6px);
    }

    &__item.blur-plate::after {
        border-radius: 32px;
        padding: 1.5px;
        background: linear-gradient(40.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(225.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
    }

    &__subtitle {
        margin-bottom: 8px;
        font-size: 24px;
        @include RobotoCondensed-600;
       // font-weight: 600;
       // font-family: "Roboto Condensed", sans-serif;
    }

    &__descr {
        display: flex;
        flex-direction: column;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-radius: 20px;
        padding: 0;
        margin: 0 auto 16px;
        order: -1;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 40px;
            height: 40px;
            background-color: $light-900;
            filter: blur(9px);
            border-radius: 50%;
            animation: pulseGlow 3s ease-in-out infinite;
        }

        &--small::before {
            width: 28px;
            height: 28px;
        }

        &--medium::before {
            width: 38px;
            height: 38px;
        }
    }

    &__box.blur-plate {

        &::after {
            padding: 1.5px;
            border-radius: 20px;
            background: linear-gradient(33.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(220.43deg, rgba(255, 255, 255, 0) 77.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }

    @keyframes pulseGlow {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.85);
        }

        50% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        100% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.85);
        }
    }
}


@media(max-width: 1240px) {
    .advantages {
        &__item {
            flex: 1 1 auto;
            max-width: 47%;
            width: 100%;
        }
    }
}


@media(max-width: 576px) {
    .advantages {
        &__list {
            gap: 12px;
        }

        &__item {
            padding: 16px 20px;
            flex-direction: row;
            text-align: left;
            max-width: 100%;
            width: 100%;
            gap: 16px;
            align-items: center;
        }

        &__item.blur-plate {
            &::after {
                background: linear-gradient(15.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%),
                    linear-gradient(199.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
            }
        }

        &__subtitle {
            font-size: 20px;
        }

        &__descr {
            font-size: 14px;
        }

        &__box {
            flex-shrink: 0;
            margin-bottom: 0
        }
    }
}