.apps {

    &__inner {
        max-width: 322px;
        width: 100%;
    }

    &__title {
        text-align: left;
        margin-bottom: 12px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px 79px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 24px;
        max-width: 786px;
        width: 100%;
    }

    &__item {
        max-width: 381px;
        width: 100%;
    }

    &__item.blur-plate {
        border-radius: 32px;
        padding: 24px;

        &::after {
            border-radius: 32px;
            background: linear-gradient(15.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }

    &__subtitle {
        font-size: 28px;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__descr {
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        gap: 12px;
        justify-content: center;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        transition: color 0.3s, box-shadow 0.3s, transform 0.3s;

        &:hover {
            color: $light-900;
        }

        &:focus {
            box-shadow: 0 0 16px $light-900;
        }
    }

    &__link.blur-plate {
        padding: 12px 32px;
        width: 100%;
        justify-content: center;
        background: linear-gradient(198.87deg, rgba(255, 255, 255, 0.18) -160.13%, rgba(254, 255, 255, 0.03) 72.05%, rgba(255, 255, 255, 0.12) 207.89%);

        &:active {
            transform: scale(0.9);
        }
    }

    &__icon {
        flex-shrink: 0;
    }
}

@media(max-width: 1215px) {
    .apps {
        &__title {
            text-align: center;
        }

        &__wrap {
            justify-content: center;
        }

        &__inner {
            text-align: center;
            max-width: 100%;
        }

        &__list {
            justify-content: center;
        }
    }
}

@media(max-width: 992px) {
    .apps {
        &__item {
            width: 46%;
        }

        &__link.blur-plate {
            padding: 12px 22px;
        }
    }
}

@media(max-width: 768px) {
    .apps {
        &__inner {
            max-width: 526px;
            width: 100%;
        }

        &__links {
            flex-wrap: wrap;
            gap: 8px;
        }
    }
}

@media(max-width: 576px) {
    .apps {
        &__title {
          text-wrap: balance;
        }
        &__text {
          font-size: 14px;
        }
        &__list {
            gap: 16px;
        }

        &__item.blur-plate {
            padding: 16px;
            max-width: 171px;
        }

        &__subtitle {
            font-size: 24px;
        }

        &__descr {
            margin-bottom: 16px;
            font-size: 12px;
        }

        &__link {
            font-size: 14px;
        }
    }
}

@media(max-width: 390px) {
    .apps {
        &__item {
            max-width: 277px;
            width: 100%;
        }

        .apps__link.blur-plate {
            width: 88%;
        }
    }
}