.engagement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1185px;
    margin: 0 auto;
    gap: 8px;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 608px;
        height: 648px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/robot-footer.png');
        margin-bottom: -48px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 68px;
        width: 424px;
        height: 424px;
        border-radius: 50%;
        background-color: #3ddc84;
        -webkit-filter: blur(30px);
        filter: blur(150px);
    }

    &__inner {
        padding: 120px 0;
        text-align: center;
        max-width: 436px;
        width: 100%;
        margin-left: auto;
    }

    &__slogan {
        display: inline-block;
        margin-bottom: 32px;
    }

    &__info {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 32px;
    }

    &__item {
        max-width: 168px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__icon.blur-plate {
        border-radius: 20px;
        padding: 12px;

        &::after {
            border-radius: 20px;
        }
    }


}

@media(max-width: 1081px) {
    .engagement {

        &::after {
            left: 50%;
            top: 158px;
            transform: translateX(-50%);
        }

        &__inner {
            padding-top: 0;
            padding-bottom: 80px;
        }

        &__circles {
            display: none;
        }

        &::before {
            margin-bottom: -163px;
        }
    }
}

@media(max-width: 768px) {
    .engagement {

        &::after {
            width: 324px;
            height: 324px;
        }

        &::before {
            width: 448px;
            height: 478px;
            margin-bottom: -84px;
        }

        &__inner {
            max-width: 571px;
        }
    }
}

@media(max-width: 576px) {
    .engagement {
        &::before {
            width: 334px;
            height: 356px;
        }

        &::after {
            width: 274px;
            height: 274px;
            filter: blur(120px);
            top: 40px
        }

        &__circle--small {
            width: 196px;
            height: 115px;
        }

        &__circle--medium {
            width: 243px;
            height: 253px;
        }

        &__circle--large {
            width: 394px;
            height: 379px;
        }

        &__item {
            font-size: 14px;
            max-width: 148px;
        }

        &__circles {
            top: 178px;
            left: 32%;
        }

        &__cta {
            font-size: 17px;
        }
    }
}