.faq {
    padding-bottom: 80px;
    isolation: isolate;

    &__title {
        text-align: left;
    }


    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__item {
      border-radius: 32px;
      position: relative;
      overflow: hidden;
     
      &.blur-plate {
        padding: 8px 0 6px 0;
       transition: padding 0.3s;
      
      }
      &::after {
          padding: 1px;
          border-radius: 32px;
          background: linear-gradient(4.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(183.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%)
      }
      &:hover {
        .faq__subtitle {
          color: $light-900;
        }
      }
      &.is-open {
        padding-bottom: 16px;
      }
    }

    &__inner {
        padding-right: 50px;
        max-width: 1015px;
        width: 100%;
        padding: 0px 24px 0px 24px;
        max-height: 0;
        overflow: hidden;
       transition: max-height 0.3s, padding 0.3s;
        &.is-open {
          max-height: fit-content;
          height: auto;
        }
    }

    &__button {
      padding: 8px 24px 12px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      transition: padding 0.3s;
      text-align: left;
    }

    &__subtitle {
        font-size: 24px;
        @include RobotoCondensed-600;
       // font-weight: 600;
       // font-family: "Roboto Condensed", sans-serif;
        transition: margin-bottom 0.3s, color 0.3s;
    }

    &__answer {
      font-size: 16px;
    }

    &__icon {
        transform: rotate(90deg);
        transition: transform 0.3s;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        &--open {
            transform: rotate(0);
        }
    }
}

@media(max-width: 992px) {
    .faq {
        padding-bottom: 43px;
    }
}

@media(max-width: 576px) {
    .faq {
        padding-bottom: 93px;

        &__subtitle {
            font-size: 20px;
        }

        &__answer {
            font-size: 14px;
        }
    }
}