.faq {
    &__title {
        text-align: left;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:hover {
            .faq__subtitle {
                color: $light-900;
            }
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__item.blur-plate {
        border-radius: 32px;
        padding: 16px 16px 16px 24px;

        &::after {
            padding: 1px;
            border-radius: 32px;
            background: linear-gradient(4.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(183.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%)
        }
    }

    &__inner {
        padding-right: 50px;
        max-width: 1015px;
        width: 100%;
    }

    &__button {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 32px;
        transition: outline 0.3s, box-shadow 0.3s;

        &:focus {
            box-shadow: 0 -6px 10px $light-opacity-23 inset,
                0 0 16px $light-900-opacity-75;
        }

        &:active {
            outline: 1px solid $light-900;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 600;
        font-family: "Roboto Condensed", sans-serif;
        transition: margin-bottom 0.3s, color 0.3s;
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s, margin-top 0.3s;
    }

    &__icon {
        transform: rotate(90deg);
        transition: transform 0.3s;
     &--open {
        transform: rotate(0);
      }
    }
}

@media(max-width: 576px) {
    .faq {
        &__subtitle {
            font-size: 20px;
        }

        &__answer {
            font-size: 14px;
        }
    }
}