html[dir="rtl"] {
  direction: rtl;
  text-align: right;
  
  .advantages {
    &__item {
      text-align: right;
    }
    &__info {
      text-align: center;
    }
  }

  .steps {
    .title {
      text-align: center;
    }
    &__info {
      text-align: center;
    }
    &__list {
      justify-content: flex-start;
    }
    &__item::before {
      left: auto;
      right: 32px;
    }
  }
  .faq {
    &__title {
      text-align: right;
    }
    &__icon {
      transform: rotate(180deg);
    }
    &__icon.faq__icon--open {
      transform: rotate(270deg);
    }
    &__button {
      text-align: right;
    }
    &__button.active{
      .faq__icon {
        transform: rotate(270deg);
      }
    }
  }
  .plan__list-item {
    text-align: right;
  }
  .apps {
    &__title {
      text-align: right;
    }
    &__list {
      flex-direction: row-reverse;
    }
  }
  
  @media (max-width: 1215px) {
    .apps {
      &__title {
        text-align: center;
      }
    }
  }
  @media(max-width: 767px) {
    .steps__info {
      text-align: right;
    }
    .metrics {
      &__cards-item {
        &--upload {
          margin-left: 0;
          margin-right: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
    
        &--latency {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}