html[dir="rtl"] {
  direction: rtl;
  text-align: right;
  
  .advantages {
    &__item {
      text-align: right;
    }
    &__info {
      text-align: center;
    }
  }

  .steps {
    .title {
      text-align: right;
    }
    &__info {
      text-align: center;
    }
    &__list {
      justify-content: flex-start;
    }
    &__item::before {
      left: auto;
      right: 32px;
    }
  }
  .faq {
    &__inner {
      padding-right: 0;
      padding-left: 50px;
    }
    &__title {
      text-align: right;
    }
    &__icon {
      transform: rotate(180deg);
    }
    &__icon.faq__icon--open {
      transform: rotate(270deg);
    }
    &__button.active{
      .faq__icon {
        transform: rotate(270deg);
      }
    }
  }
  .plan__list-item {
    text-align: right;
  }
  .apps {
    &__title {
      text-align: right;
    }
  }
  .engagement {
    &::after {
      left: 0;
      right: 108px;
    }
    &::before {
     transform: scale3d(-1, 1, 1);
    }
    &__circles {
      left: auto;
      right: 125px;
    }
    &__cta {
      flex-direction: row-reverse;
    }
  }
  @media (max-width: 1215px) {
    .apps {
      &__title {
        text-align: center;
      }
    }
  }
  @media(max-width: 767px) {
    .steps__info {
      text-align: right;
    }
    .metrics {
      &__cards-item {
        &--upload {
          margin-left: 0;
          margin-right: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
    
        &--latency {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  @media(max-width: 1006px) {
    .engagement {
      &__circles {
        left: auto;
        right: 34%;
      }
    }
  }
    @media(max-width: 576px) {
      .engagement {
        &__circles {
          left: auto;
          right: 32%;
        }
  
        &__cta {
          font-size: 17px;
        }
      }
    }
}