html[dir="rtl"] {
  direction: rtl;
  text-align: right;
  
  .advantages__item {
    text-align: right;
  }
  .advantages__info {
    text-align: center;
  }
  .steps {
    .title {
      text-align: right;
    }
    &__info {
      text-align: center;
    }
    &__list {
      justify-content: flex-start;
    }
    &__item::before {
      left: auto;
      right: 32px;
    }
  }
  .faq {
    &__inner {
      padding-right: 0;
      padding-left: 50px;
    }
    &__title {
      text-align: right;
    }
    &__icon {
      transform: rotate(180deg);
    }
    &__icon.faq__icon--open {
      transform: rotate(270deg);
    }
    &__button.active{
      .faq__icon {
        transform: rotate(270deg);
      }
    }
  }
  .plan__list-item {
    text-align: right;
  }
  .engagement {
    &::after {
      left: 0;
      right: 108px;
    }
    &::before {
     transform: scale3d(-1, 1, 1);
    }
    &__circles {
      left: auto;
      right: 125px;
    }
    
  }
  @media(max-width: 767px) {
    .steps__info {
      text-align: right;
    }
  }

  @media(max-width: 1006px) {
    .engagement {
      &__circles {
        left: auto;
        right: 34%;
      }
    }
  }
    @media(max-width: 576px) {
      .engagement {
        &__circles {
          left: auto;
          right: 32%;
        }
  
        &__cta {
          font-size: 17px;
        }
      }
    }
}