.map {
  &__inner {
    svg{
      width: 100%;
      height: auto;
    }
  }
}

.map-flag.is-active {
  animation: pulse 1.2s infinite ease-in-out;
  filter: drop-shadow(#3DDC84 45px 45px 45px);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}