.map {
  padding-bottom: 80px;
  &__inner {
    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}

.map-flag {
 visibility: hidden;
 transform-box: fill-box;
 transform-origin: center;
 transition: transform 0.3s ease;
 &~g{
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 0.3s ease;
 }
}

.map-flag.is-active {
  visibility: visible;
  animation: ripple 2.6s infinite ease-out;
  transform-origin: center;
  transform-box: fill-box;
  /* для SVG – життєво необхідно */
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
    /* плавна поява */
  }

  15% {
    opacity: 0.9;
    /* хвиля проявляється */
  }

  100% {
    transform: scale(2.8);
    /* розширення хвилі */
    opacity: 0;
    /* мʼяке зникнення */
  }
}

@media (max-width: 992px) {
  .map {
    padding-bottom: 112px;
  }
  .map-flag {
    transform: scale(1.62);

    &~g {
      transform: scale(1.62);
    }
  }
}
@media (max-width: 576px) {
  .map {
    padding-bottom: 48px;
  }
}
@media (max-width: 440px) {
  .map {
    &__title {
      margin: 0 auto;
    }
    .container {
      padding: 0;
    }
  }
  .map-flag {
    transform: scale(1.6);

    &~g {
      transform: scale(2.0);
    }
  }
}

