.map {
  &__inner {
    svg {
      width: 100%;
      height: auto;
    }
  }
}

.map-flag.is-active {
  animation: ripple 2.6s infinite ease-out;
  transform-origin: center;
  transform-box: fill-box;
  /* для SVG – життєво необхідно */
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
    /* плавна поява */
  }

  15% {
    opacity: 0.9;
    /* хвиля проявляється */
  }

  100% {
    transform: scale(2.8);
    /* розширення хвилі */
    opacity: 0;
    /* мʼяке зникнення */
  }
}