.metrics {
  padding: 120px 0 64px;
  &__header {
    margin-bottom: 32px;
    text-align: center;
  }
  &__badge-box {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 8px;
    padding: 6px 14px 6px 12px;
    margin-bottom: 16px;
    &.blur-plate {
      &::after {
        background: linear-gradient(10.35deg, rgba(255, 255, 255, 0) 60.32%, $light 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
      }
    }
  }
  &__badge {
    @include Inter-700;
    font-size: 14px;
  }
  &__title {
    @include RobotoCondensed-600;
    font-size: 56px;
    text-align: center;
    display: block;
    margin: 0 auto 32px auto;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  &__item {
    max-width: 108px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  &__item-title {
    @include RobotoCondensed-600;
    font-size: 28px;
    color: $light-900;
  }
  &__item-subtitle {
    @include Inter-400;
    font-size: 16px;
    color: $light;
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}
.metric-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &.blur-plate {
    padding: 0;
    border-radius: 50%;
    &::after {
      border-radius: 50%;
    }
  }
  &--upload,
  &--latency {
    width: 300px;
    height: 300px;
  .progress-ring {
      width: 268px;
      height: 268px;
    }
  
    .metric-canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &--download { 
    width: 364px;
    height: 364px;
    .progress-ring {
      width: 332px;
      height: 332px;
    }
  
    .metric-canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__circle{
    aspect-ratio: 1 / 1;
    position: relative;
  }
/*   .progress-ring {
    &__bg {
      fill:rgba(255, 255, 255, 0.2);
    }
    &__value {
      fill: $light-900;
      stroke-dasharray: 1000; // подбирается
      stroke-dashoffset: 1000;
      transition: stroke-dashoffset 1.5s ease;
     // transform-origin: 50% 50%;
    }
  } */
  &__label {
    @include Inter-400;
    color: $light;
    font-size: 16px;
    text-align: center;
    margin-bottom: 6px;
  }
  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      margin-bottom: 16px;
    }
  }
  &__value {
    @include RobotoCondensed-600;
    font-size: 24px;
    color: $light-900;
    margin-bottom: 6px;
  }
  &__note {
    @include Inter-400;
    font-size: 14px;
    color: $light;
    opacity: 0.6;
    max-width: 120px;
    text-align: center;
  }
}


@media (max-width: 1090px) {
  .metric-card {
    &--upload,
    &--latency {
      width: 212px;
      height: 212px;
    .progress-ring {
        width: 188px;
        height: 188px;
      }
    }
  
    &--download {
      width: 250px;
      height: 250px;
      .progress-ring {
        width: 226px;
        height: 226px;
      }
    }
  }
}
@media (max-width: 767px) {
  .metrics {
    &__cards {
      flex-wrap: wrap;
      gap: 32px 20px;
      align-items: center;
    }
  }
  .metric-card {
    .metric-card--upload {
      grid-area: upload;
      width: 171px;
      height: 171px;
      justify-self: end;
  
      .progress-ring {
        width: 188px;
        height: 188px;
        .metric-canvas {
          width: 188px;
          height: 188px;
        }
      }
    }
    .metric-card--latency {
      grid-area: latency;
      width: 171px;
      height: 171px;
      justify-self: start;

      .progress-ring {
        width: 188px;
        height: 188px;
      }
    }
    .metric-card--download {
      grid-area: download;
      width: 250px;
      height: 250px;
      margin: 0 auto;

      .progress-ring {
        width: 226px;
        height: 226px;
      }
    }

/*     &--upload,
    &--latency {
      width: 171px;
      height: 171px;
    &--upload {
      grid-area: upload;
      justify-self: end;
    }
    &--latency {
      grid-area: latency;
      justify-self: start;
    }
    &--download {
      grid-area: download;
    }
  
    &--download {
      width: 250px;
      height: 250px;
      
      margin: 0 auto;
      .progress-ring {
        width: 226px;
        height: 226px;
      }
    }
    .progress-ring {
      width: 188px;
      height: 188px;
    }
    } */
  }
}


.survey-results__wrap {
  display: flex;
}

.survey-results__block {
  max-width: 268px;
}

.survey-results__chart {
  margin-bottom: 10px;
  width: 268px;
  height: 268px;
}

.survey-results__circular {
  display: block;
  width: 100%;
  height: 100%;
}

.survey-results__circle {
  fill: none;
  stroke-width: 2;
  stroke: $light-900;
  animation: progress 2s ease-out forwards;
  border-radius: 10px;
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}