.plan {
    text-align: center;
    position: relative;

    &::before {
        background-image: url('../images/plan-bg.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: -84px;
        left: 0;
        z-index: -2;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        background: linear-gradient(to right,
                rgba(13, 27, 42, 0.7) 0%,
                rgba(13, 27, 42, 0.45) 12%,
                rgba(13, 27, 42, 0.25) 25%,
                rgba(13, 27, 42, 0.1) 38%,
                rgba(13, 27, 42, 0) 48%,

                rgba(13, 27, 42, 0) 52%,
                rgba(13, 27, 42, 0.1) 62%,
                rgba(13, 27, 42, 0.25) 75%,
                rgba(13, 27, 42, 0.45) 88%,
                rgba(13, 27, 42, 0.7) 100%);
        z-index: -1;

    }


    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__item-wrapper {
        max-width: 279px;
        width: 100%;
        padding-top: 141px;
        position: relative;
        transition: transform 0.5s;
        flex: 0 0 279px;
       isolation: isolate;

        &:hover {
            transform: translateY(-6px);

            &::before {
                transform: translateX(-50%) translateY(-6px);
            }

            .plan__circle {
                transform: translateX(-50%) translateY(0);
                opacity: 1;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            z-index: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 166px;
            height: 166px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('../images/plans/robotTrial.webp');
            transition: transform 0.5s;
            pointer-events: none;
        }

        &--monthly::before {
          pointer-events: none;
            background-image: url('../images/plans/robotMonthly.webp');
        }

        &--semiannual::before {
          pointer-events: none;
            background-image: url('../images/plans/robotSemiannual.webp');
        }

        &--annual::before {
          pointer-events: none;
            background-image: url('../images/plans/robotAnnual.webp');
        }

    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        transition: transform 0.5s;
        backdrop-filter: blur(16px);
        z-index: 1;
        height: 100%;
        isolation: isolate;
    }

    &__circle {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%) translateY(30px);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(61, 220, 132);
        -webkit-filter: blur(94px);
        filter: blur(45px);
        z-index: -1;
        opacity: 0.7;
        transition: opacity 0.5s, transform 0.5s;
    }

    &__item.blur-plate {
        border-radius: 32px;
        padding: 20px 24px;
        background: linear-gradient(224deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.05) 55%, rgba(255, 255, 255, 0.12) 133%);
        backdrop-filter: blur(16px);

        &::after {
            border-radius: 32px;
            background:
                linear-gradient(52.35deg,
                    rgba(255, 255, 255, 0) 60.32%,
                    rgba(255, 255, 255, 0.6) 94.79%),
                linear-gradient(225.43deg,
                    rgba(255, 255, 255, 0) 65.44%,
                    rgba(255, 255, 255, 0.6) 100%);
        }
    }

    &__item--featured.blur-plate {
        &::after {
            background:
                /* ліва сторона */
                linear-gradient(-65.65deg,
                    rgba(61, 220, 132, 0) 60.32%,
                    #3DDC84 94.79%),

                /* права сторона */
                linear-gradient(65.65deg,
                    rgba(61, 220, 132, 0) 60.32%,
                    #3DDC84 94.79%),

                /* світлий glass-акцент */
                linear-gradient(225.43deg,
                    rgba(255, 255, 255, 0) 65.44%,
                    rgba(255, 255, 255, 0.6) 100%);
        }
    }

    &__title {
        font-size: 32px;
        margin-bottom: 12px;
        @include RobotoCondensed-600;
       // font-weight: 600;
       // font-family: "Roboto Condensed", sans-serif;
    }

    &__price {
        font-size: 32px;
        color: $light-900;
        text-align: center;
        margin-bottom: 12px;
        @include RobotoCondensed-600;
    }

    &__period {
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    &__savings.blur-plate {
        color: $light-900;
        padding: 6px 14px;
        font-size: 14px;

        &::after {
            background:
                linear-gradient(10.35deg,
                    rgba(255, 255, 255, 0) 60.32%,
                    rgba(255, 255, 255, 0.6) 94.79%),
                linear-gradient(200.43deg,
                    rgba(255, 255, 255, 0) 65.44%,
                    rgba(255, 255, 255, 0.6) 100%);
        }
    }

    &__list-features {
        margin-bottom: 20px;
    }

    &__cta {
        margin-top: auto;
        align-self: center;
        padding: 20px 33px;
    }

    &__cta.cta {
        background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 265.89%);
    }

    &__popular {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        color: $dark;
        padding: 6px 14px;
        background-color: $light-900;
        border-radius: 80px;
        font-weight: 700;
        box-shadow: 0 -6px 10px rgba(255, 255, 255, 0.23) inset,
            0 4px 34px $light-900-opacity-34;
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: 8px;
        text-align: left;
        font-size: 14px;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 8px;
    }

    &__icon.blur-plate {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        width: 28px;
        height: 28px;
        flex-shrink: 0;

        svg {
            width: 14px;
            height: 14px;
        }
    }
}
@media (max-width: 1240px) {
  .plan {
    &__item-wrapper {
      max-width: 340px;
      flex: 0 0 340px;
    }
  }
}

@media (max-width: 992px) {
  .plan {
    &::before {
      background-position: center bottom;
      height: 50%;
      top: auto;
      left: 0;
      bottom: -100px;
    }
  }
}
@media (max-width: 440px) {
    .plan {
      &::before {
        height: 50%;
        top: auto;
        bottom: 0;
        left: 0;
        bottom: 0;
      }
      &__item-wrapper {
        width: 100%;
      }
      &__item {
          max-width: 100%;
          width: 100%;
      }
    }
}