.reviews {
  background-image: url('../images/reviews-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  &__title {
    margin-bottom: 32px;
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
  }

  &__stat {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 228px;
    width: 100%;
  }

  &__stat-img.blur-plate {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    svg {
      width: 40px;
      height: 40px;
    }
    &::after {
      border-radius: 20px;
    }
  }

  &__stat-content {
    padding: 6px;
    display: flex;
    flex-direction: column;
  }

  &__stat-num {
    @include RobotoCondensed-600;
    color: $light-900;
    font-size: 28px;
    margin-bottom: 4px;
  }

  &__stat-name {
    @include Inter-400;
    font-size: 16px;
    color: $light;
  }

  &__btn {
    .icon {
      fill: $light;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__nav--next,
  &__nav--prev {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 20px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    border: 1px solid transparent;
    transition: all .3s;

    &.blur-plate {
      &::after {
        border-radius: 20px;
      }
    }

    &:hover {
      svg.icon {
        transition: all .3s;
        fill: $light-900;
      }
    }

    &:active {
      border-color: $light-900;

      svg.icon {
        transition: all .3s;
        fill: $light-900;
      }
    }

    &:focus {
      backdrop-filter: blur(16px);
      box-shadow: 0px 0px 16px 0px #3DDC84BF;

      svg.icon {
        transition: all .3s;
        fill: $light;
      }
    }
  }

  &__nav--next {
    right: 0;
    left: auto;
    transform: translateY(-50%);

    svg.icon {
      transform: rotate(-90deg);
    }
  }

  &__nav--prev {
    right: auto;
    left: 0;
    transform: translateY(-50%);

    svg.icon {
      transform: rotate(90deg);
    }
  }
}

.reviews__slider {
  margin-bottom: 32px;
  position: relative;
  padding: 0 72px;

  .swiper-pagination {
    display: none;
  }

  .swiper-pagination-bullet {
    background: linear-gradient(231.87deg, rgba(255, 255, 255, 0.18) -30.13%, rgba(255, 255, 255, 0.03) 57.05%, rgba(255, 255, 255, 0.12) 137.89%);
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $light-900;
  }
}

.review-card {
  padding-top: 15px;
  display: flex;
  height: auto;

  &__inner {
    position: relative;
    padding: 24px;
    border-radius: 24px;

    &.blur-plate {
      &::after {
        border-radius: 24px;
      }
    }
  }

  &__bage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 80px;
    position: absolute;
    top: -15px;
    right: 24px;
    padding: 6px 12px;
    background-color: #3ddc84;
    box-shadow: 0 -6px 10px hsla(0, 0%, 100%, .23) inset, 0 4px 34px rgba(61, 220, 132, .34);
  }

  &__bage-icon {
    width: 16px;
    height: 16px;
  }

  &__bage-title {
    @include Inter-400;
    font-size: 14px;
    color: $dark;
    line-height: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 0;
    margin-bottom: 17px;
  }

  &__avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    overflow: auto;
  }

  &__user {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__user-name {
    @include Inter-700;
    font-size: 18px;
    color: $light;
    line-height: 1;
  }

  &__user-location {
    @include Inter-400;
    font-size: 14px;
    line-height: 1;
    opacity: .6;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 17px;
  }

  &__text {
    @include Inter-400;
    font-size: 18px;
    color: $light;
  }
}

@media (max-width: 992px) {
  .reviews {
    &__stats {
      align-items: stretch;
    }

    &__stat {
      max-width: 140px;
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    &__stat-content {
      align-items: center;
      text-align: center;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .reviews__stats {
    gap: 30px;
  }

  .reviews__stat-num {
    font-size: 24px;
  }

  .reviews__stat-name {
    font-size: 14px;
  }

  .reviews__slider {
    padding: 0 0 24px 0;

    .swiper-pagination {
      display: block;
      bottom: 0;
    }

    .reviews__nav {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .reviews {
    &__stat {
      max-width: 100px;
    }
    &__stat-img.blur-plate {
      padding: 12px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (max-width: 385px) {
  .reviews__stats {
    gap: 10px;
    justify-content: space-between;
  }
}