.cookie {
  position: fixed;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  max-width: 976px;
  width: 100%;
  padding: 8px 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease, transform .3s ease;

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
  }

  &__inner {
    display: flex;
    align-items: center;
    border-radius: 777px;

    &.blur-plate {
      border-radius: 777px;
      padding: 8px;

      &::after {
        border-radius: 777px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: auto;
  }

  &__cookie-img {
    width: 40px;
    height: 40px;

    &.blur-plate {
      padding: 8px;
    }
  }

  &__title {
    font-size: 16px;
    color: $light;
  }

  &__text {
    font-size: 16px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__accept {
    padding: 12px 20px;
    font-size: 14px;
    @include Inter-700;
    color: $dark;
    cursor: pointer;

    &.blur-plate {
      padding: 6px;
    }
    &.cta {
      &:before {
        inset: 6px;
      }
      &:active {
        &::before {
          transition: all .3s;
          inset: 8px;
        }
      }
    }
  }

  &__close {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: color 0.3s, box-shadow 0.3s, border-color 0.3s;

    &.blur-plate {
      padding: 6px;

      &::after {
        background: linear-gradient(27.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 54.44%, rgba(255, 255, 255, 0.6) 100%);
      }
    }

    &:hover {
      color: $light-900;
    }

    &:focus {
      box-shadow: 0 0 16px $light-900-opacity-75;
    }

    &:active {
      border-color: $light-900;

      .cookie__close-icon {
        fill: $light-900;
      }
    }
  }
}

@media (max-width: 1200px) {
  .cookie {
    max-width: calc(100% - 30px);
    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .cookie {
    &__text {
      font-size: 14px;
    }

    &__inner {
      border-radius: 24px;

      &.blur-plate {
        border-radius: 24px;
        padding: 16px;

        &::after {
          border-radius: 24px;
        }
      }
    }


  }
}
@media (max-width: 576px) {
  .cookie {
    &__content {
        margin-right: 12px;
      }
    
      &__actions {
        flex-direction: column;
      }
    
      &__accept {
        width: 86px;
        height: 40px;
      }
    
      &__close {
        border-radius: 80px;
        width: 86px;
        height: 32px;
      }
  }
}

html[dir="rtl"] {
  .cookie__content {
    margin-left: auto;
    margin-right: 12px;
  }
}