.header {
  padding: 16px 0;
  position: fixed;
  width: 100vw;
  max-width: 1188px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: 1000;
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), margin-top 0.3s, padding 0.5s;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.92);
    width: 100vw;
    max-width: 1188px;
    height: 100%;
    z-index: -1;
    border-radius: 0;
    opacity: 0;
    background: linear-gradient(13deg,
        rgba(255, 255, 255, 0.12) 6%,
        rgba(255, 255, 255, 0.03) 52%,
        rgba(255, 255, 255, 0.06) 100%);
    background-color: rgba(5, 14, 22, 0.25);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    transition: opacity 0.45s ease, transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), border-radius 0.9s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &.is-fixed {
    margin-top: 10px;
    transform: translateX(-50%) translateY(0);

    &::after {
      transform: translateX(-50%) scale(1);
      opacity: 1;
      border-radius: 80px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }
}

.menu {
  margin-left: 40px;

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__link {
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: color 0.3s, text-shadow 0.3s, border-color 0.3s;

    &:hover {
      color: $light-900;
    }

    &:focus {
      text-shadow: 0 0 11px $light-900;
    }

    &:active {
      border-color: $light-900;
      color: $light-900;
    }
  }

  &__btn {
    display: none;
  }
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;

  &__cta {
    gap: 10px;
    font-size: 14px;
    padding: 12px 12px 12px 20px;
    transition: inset 0.3s;
    &::before {
      
      inset: 6px;
    }
    &:hover {
      
      &::before {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
          0 4px 34px $light-900-opacity-64;
        inset: 4px 4px;
  
      }
    
      &::after {
        will-change: inset;
        inset: -2px;
      }
    }
      
    &:focus {
      box-shadow: 0 -6px 10px $light-opacity-23 inset,
        0 0 16px $light-900-opacity-75;
  
  
      &::before {
        inset: 6px 6px;
      }
  
      &::after {
        will-change: inset;
        inset: -2px;
      }
    }
    
    &:active {
  
      &::before {
        inset: 6px 6px;
      }
  
      &::after {
        will-change: inset;
        inset: -2px;
      }
    }
  
  }
}

@media (max-width: 880px) {
  .header {
    &__logo {
      order: 1;
    }

    .user-menu {
      order: 2;
      gap: 12px;
    }

    .menu {
      order: 3;
      margin-left: 12px;
      display: flex;
      position: relative;

      &__list {
        position: absolute;
        top: 77px;
        right: 15px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        opacity: 0;
        transform: translateX(50px);

        transition: transform 0.4s ease, opacity 0.4s ease;
        pointer-events: none;

        &.blur-plate {
          border-radius: 24px;
          width: auto;

          &::after {
            border-radius: 24px;
            background: linear-gradient(37.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%),
              linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
          }
        }

        &--active {
          opacity: 1;
          transform: translateX(0);
          pointer-events: auto;
          z-index: 20;
          transition: transform 0.4s ease, opacity 0.4s ease;
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
        border-radius: 80px;
        width: 48px;
        height: 48px;
        border: 1px solid transparent;
        color: $light-900;
        transition: all .3s;

        &.blur-plate {
          &::after {
            border-radius: 80px;
          }
        }

        &:hover {
          opacity: 0.7;
        }

        &:active {
          border-color: $light-900;

          svg.icon {
            transition: all .3s;
            fill: $light-900;
          }
        }

        &:focus {
          backdrop-filter: blur(16px);
          box-shadow: 0px 0px 16px 0px #3DDC84BF;
        }

        &--active {
          .menu__btn-icon-close {
            display: block;
            fill: $light;
          }

          .menu__btn-icon {
            display: none;
          }

        }
      }

      &__btn-icon-close {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {

    .logo {
      max-width: 108px;
      width: 100%;
      height: auto;
    }

    .menu {
      margin-left: 8px;
    }

    .user-menu {
      gap: 8px;

      &__cta {
        padding: 14px 18px;

        .icon {
          display: none;
        }
      }
    }
  }

}

@media (max-width: 385px) {
  .header {
    .logo {
      max-width: 38px;
      width: 100%;
      height: auto;
    }
  }

}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;

  .menu {
    margin-left: 0;
    margin-right: 40px;
  }

  .user-menu {
    margin-left: 0;
    margin-right: auto;
  }

  @media (max-width: 880px) {
    .menu {
      &__list {
        transform: translateX(-200%);
        margin-right: 12px;

        &--active {
          right: auto;
          left: 15px;
          transform: translateX(0);
        }
      }
    }
  }

  @media (max-width: 576px) {
    .header {
      .menu {
        margin-left: 0;
        margin-right: 8px;
      }
    }

  }
}