.switcher-lang {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__link {
        color: $light;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 700;
        position: relative;
        z-index: 0;
        background: linear-gradient(231.87deg,
          rgba(255, 255, 255, 0.18) -30.13%,
          rgba(255, 255, 255, 0.03) 57.05%,
          rgba(255, 255, 255, 0.12) 137.89%);
          border-radius: 80px;
          padding: 10px;
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: inherit;
          border-radius: 80px;
          padding: 2px;
          z-index: -1;
          background: linear-gradient(37.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%),
              linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
          mask:
              linear-gradient(#fff, #fff) content-box,
              linear-gradient(#fff, #fff);
            -webkit-mask-composite: xor;
            mask-composite: exclude;

        }
    }
}