.switcher-lang {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__link {
        color: $light;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 700;
    }
}