.switcher-lang {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;

    &__link {
        padding: 10px 15px 10px 8px;
        color: $light;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        border-radius: 80px;
        transition: color 0.3s, box-shadow 0.3s, outline 0.3s;

        &:hover {
            color: $light-900;
        }

        &:focus {
            box-shadow: 0 0 16px $light-900-opacity-75;
        }

        &:active {
            outline: 1px solid $light-900;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}