body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $light;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    background-color: $dark;
    font-style: normal;
}

.container {
    max-width: 1218px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.16;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 32px;
}

.cta {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 132px;
    height: 44px;
    color: $dark;
    font-weight: 700;
    border-radius: 80px;

    // можеш прибрати або ослабити, якщо забагато
    box-shadow: 0 0 24px rgba(61, 220, 132, 0.7);

    /* ТІЛЬКИ градієнтний бордер, як у Figma:
       angle 70°, 0% #FFF 0%, 100% #FFF 60%
    */
    &::before {
        content: "";
        position: absolute;
        inset: -4px;          // наскільки бордер виходить назовні
        padding: 2px;         // товщина кільця
        border-radius: inherit;

        background: linear-gradient(
            70deg,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.6) 100%
        );

        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        pointer-events: none;
        z-index: 1;
    }

    /* твій “глянцевий” градієнт зверху */
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;

        background: linear-gradient(
            198deg,
            rgba(255, 255, 255, 0.18) 0%,
            rgba(255, 255, 255, 0.05) 48%,
            rgba(255, 255, 255, 0.12) 100%
        );
        opacity: 0.6;

        pointer-events: none;
        z-index: 2;
    }

    &__inner {
        position: relative;
        z-index: 3; // контент вище за псевдоелементи

        background-color: #3DDC84;   // ПОВНІСТЮ як у тебе було
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 6px 6px 14px;
        border-radius: 80px;
        box-shadow:
            0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-34;
    }
}




.logo {
    border-radius: 11px;
    outline-offset: 7px;
    transition: opacity 0.3s, box-shadow 0.3s, outline 0.3s;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        box-shadow: 0 0 16px $light-900-opacity-75;
    }

    &:active {
        outline: 1px solid $light-900;
    }
}

.icon {
    fill: currentColor;
}