body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $light;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    background-color: $dark;
    font-style: normal;
  &.lock {
    overflow: hidden;
  }
}

.container {
    max-width: 1218px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.cta {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 20px 34px;
    color: $dark;
    font-weight: 700;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        border-radius: 80px;
        width: 91%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background-color: $light-900;
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-34;
        transition: box-shadow 0.3s;
    }

    &:hover::before {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-64;
    }

    &:focus::before {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 0 16px $light-900-opacity-75;
    }

    &:active::before {}
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.16;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 32px;
}

.logo {
    border-radius: 11px;
    outline-offset: 7px;
    transition: opacity 0.3s, box-shadow 0.3s, outline 0.3s;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        box-shadow: 0 0 16px $light-900-opacity-75;
    }

    &:active {
        outline: 1px solid $light-900;
    }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}