html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: $light;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    background-color: $dark;
    font-style: normal;

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1218px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-xl {
    max-width: 1362px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-bottom: 120px;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.16;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 32px;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.top-wrapper {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 30%;
        z-index: -1;
        background-image: url(../images/hero-bg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background:
            linear-gradient(to right,
                rgba(#0D1B2A, 1) 0%,
                rgba(#0D1B2A, 0) 35%,
                rgba(#0D1B2A, 0) 65%,
                rgba(#0D1B2A, 1) 100%),
            linear-gradient(to bottom,
                rgba(#0D1B2A, 1) 0%,
                rgba(#0D1B2A, 0) 25%,
                rgba(#0D1B2A, 0) 75%,
                rgba(#0D1B2A, 1) 100%);
        z-index: -1;
    }
}

.middle-wrapper {
    position: relative;

    &::before {
        background-image: url(../images/sand-bg.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        content: '';
        z-index: -2;
        bottom: 79px;
        width: 100%;
        max-height: 100vh;
        height: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background:
            /* центр */
            radial-gradient(ellipse at center,
                rgba(13, 27, 42, 0) 0%,
                rgba(13, 27, 42, 0.25) 35%,
                rgba(13, 27, 42, 0.6) 60%,
                rgba(13, 27, 42, 0.9) 80%,
                #0D1B2A 100%),

            linear-gradient(90deg,
                #0D1B2A 0%,
                rgba(13, 27, 42, 0) 30%),

            linear-gradient(270deg,
                #0D1B2A 0%,
                rgba(13, 27, 42, 0) 30%),

            linear-gradient(180deg,
                #0D1B2A 0%,
                rgba(13, 27, 42, 0) 35%),

            linear-gradient(0deg,
                #0D1B2A 0%,
                rgba(13, 27, 42, 0) 40%);
        z-index: -1;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: $dark;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(231.87deg,
            rgba(255, 255, 255, 0.18) -30.13%,
            rgba(255, 255, 255, 0.03) 57.05%,
            rgba(255, 255, 255, 0.12) 137.89%);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 80px;
    padding: 20px 28px 20px 32px;
    position: relative;
    z-index: 2;
    transition: box-shadow 0.3s;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 80px;
        padding: 1px;
        background: linear-gradient(10.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        z-index: -2;
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &::before {
        content: "";
        position: absolute;
        border-radius: 80px;
        width: 91%;
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $light-900;
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-34;
        z-index: -1;
        transition: box-shadow 0.3s, width 0.3s, height 0.3s;
    }

    &:hover::before {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-64;
    }

    &:focus {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 0 16px $light-900-opacity-75;
    }

    &:active::before {
        width: 89%;
        height: 73%;
    }
} */
.cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: $dark;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(231.87deg,
            rgba(255, 255, 255, 0.18) -30.13%,
            rgba(255, 255, 255, 0.03) 57.05%,
            rgba(255, 255, 255, 0.12) 137.89%);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    border-radius: 80px;
    padding: 20px 34px 20px 40px;
    position: relative;
    z-index: 2;
    transition: box-shadow 0.3s;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 80px;
        padding: 1px;
        background: linear-gradient(10.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        z-index: -2;
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &::before {
        content: "";
        position: absolute;
        border-radius: 80px;
        inset: 6px;
        background-color: $light-900;
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-34;
        z-index: -1;
        transition: box-shadow 0.3s, width 0.3s, height 0.3s;
    }

    &:hover::before {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 4px 34px $light-900-opacity-64;
    }

    &:focus {
        box-shadow: 0 -6px 10px $light-opacity-23 inset,
            0 0 16px $light-900-opacity-75;
    }
}


.blur-plate {
    background: linear-gradient(231.87deg,
            rgba(255, 255, 255, 0.18) -30.13%,
            rgba(255, 255, 255, 0.03) 57.05%,
            rgba(255, 255, 255, 0.12) 137.89%);
    border-radius: 80px;
    position: relative;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 2;
    transition: box-shadow 0.3s;
    padding: 24px;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 80px;
        padding: 1.5px;
        background: linear-gradient(10.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        z-index: -2;
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.logo {
    border-radius: 11px;
    outline-offset: 7px;
    transition: opacity 0.3s, box-shadow 0.3s, outline 0.3s;

    &:hover {
        opacity: 0.8;
    }

    &:focus {
        box-shadow: -2px 6px 11px $light-900-opacity-64;
    }

    &:active {
        outline: 1px solid $light-900;
    }
}

.icon {
    fill: currentColor;
}

@media(max-width: 768px) {
    .title {
        font-size: 48px;
    }

    .section {
        padding-bottom: 112px;
    }
}

@media(max-width: 576px) {
    .top-wrapper {
        &::before {
            background-image: url('../images/hero-bg-mob.webp');
            background-position: center center;
            opacity: 1;
            height: 939px;
            top: -78px;
        }
    }

    .title {
        font-size: 36px;
    }

    .section {
        padding-bottom: 48px;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}