.top {
  padding: 24px 0 32px;
}

.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 32px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/chevron-breadcrumbs.svg');
      width: 16px;
      height: 16px;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    transition: all .3s;
    padding-bottom: 1px;

    &:hover {
      color: $light-900;
    }

    &:active {
      color: $light-900;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $light-900;
        left: 0;
        bottom: 0;
      }
    }

    &:focus {
      filter: drop-shadow(#3DDC84 3px 3px 10px);
    }
  }
}

.home {
  padding-bottom: 120px;
  &::before {
    position: absolute;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/home-bg.png');
    inset: 0;
    width: 100%;
    height: 462px;
    z-index: -1;
  }

  &__inner {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__tab-nav {
    width: 100%;
    flex: 0 0 265px;
    position: relative;
    padding: 24px;

    backdrop-filter: blur(16px);
    background: linear-gradient(231.87deg,
        rgba(255, 255, 255, 0.18) -30.13%,
        rgba(255, 255, 255, 0.03) 57.05%,
        rgba(255, 255, 255, 0.12) 137.89%);
    border: 1px solid transparent;
    border-radius: 32px;
    overflow: hidden;
    z-index: 0; // выше градиентов

    &::before {
      content: '';
      position: absolute;
      border-radius: 32px;
      z-index: -1;
      padding: 2px;
      inset: 0;
      background:
        linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
        linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);

      mask:
        linear-gradient(#fff, #fff) content-box,
        linear-gradient(#fff, #fff);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__tab-nav-title {
    @include RobotoCondensed-600;
    font-size: 25px;
    color: $light;
    margin-bottom: 32px;
  }

  &__tabs-content {
    max-width: 785px;
    width: 100%;
  }
}

.tab {

  &__inner {
    display: flex;
    align-items: stretch;
  }

}

.tab-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  &__btn {
    @include Inter-400;
    color: $light;
    font-size: 16px;
    line-height: 1;
    background-color: transparent;
    display: block;
    padding: 2px 0;
    position: relative;
    width: 100%;
    text-align: left;
    transition: all .3s;

    &:hover {
      color: $light-900;

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }

    &:active {
      color: $light-900;

      span {
        border-bottom: 1px solid $light-900;
        width: 100%;
      }
    }

    &:focus {
      filter: drop-shadow(#3DDC84 3px 3px 10px);
    }


    &--active {
      color: $light-900;

      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }

      &::before {
        left: -25px;
      }

      &::after {
        right: -25px;
      }
    }
  }
}

.terms,
.privacy,
.refund,
.aboutUs {
  &__section {
    padding: 16px 0;
  }

  &__main-title {
    @include RobotoCondensed-600;
    font-size: 72px;
    color: $light;
    margin-bottom: 16px;
  }

  &__title {
    @include RobotoCondensed-600;
    font-size: 36px;
    color: $light;
    margin-bottom: 22px;
  }

  &__subtitle {
    @include RobotoCondensed-600;
    font-size: 24px;
    margin-bottom: 22px;

    &--pt {
      padding-top: 32px;
    }
  }

  &__text {
    @include Inter-400;
    font-size: 18px;
    color: $light;
    margin-bottom: 22px;

    &--down {
      margin-top: 16px;
    }

    &--bold {
      @include Inter-700;
    }

    &--mb0 {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    @include Inter-400;
    font-size: 18px;
    color: $light;
    padding-left: 38px;
    position: relative;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $light-900;
    }
  }
}

.terms-link {
  @include Inter-400;
  color: $light-900;
  font-size: 18px;
  position: relative;
  padding: 4px;
  border-radius: 6px;
  text-decoration: underline;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s, text-shadow 0.3s;

  &:visited {
    color: $light-900;
  }

  &:hover {
    color: #3DDC84;
    background-color: #132436;
  }

  &:active {
    background-color: #132436;
    color: #0D783D;
  }

  &:focus {
    text-shadow: 0 0 11px $light-900;
  }
}

@media (max-width: 1120px) {
  .home {
    &__inner {
      gap: 32px;
    }

    &__tab-nav-title {
      font-size: 28px;
    }

    &__tab-nav {
      flex: 1 1 auto;
    }

    &__tabs-content {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .home {
    &__inner {
      gap: 24px;
    }
  }

  .terms,
  .privacy,
  .refund,
  .aboutUs {
    &__main-title {
      font-size: 48px;
      margin-bottom: 12px;
    }

    &__section {
      padding: 12px 0;
    }

    &__title {
      font-size: 26px;
      margin-bottom: 16px;
    }

    &__subtitle {
      font-size: 24px;

      &--pt {
        padding-top: 24px;
      }
    }

    &__text {
      font-size: 16px;
    }

    &__item {
      &::before {
        top: 0;
        transform: translateY(0);
        background-color: $light-900;
      }
    }
  }

  .terms-link {
    font-size: 16px;
  }
}