
.tab-nav {

  &__btn {
    color: $light;
    font-size: 16px;
    text-transform: capitalize;

    &:hover {
      background-color: $light-900;
    }

    &:active {
    }


    &--active {
      background-color: $light-900;
    }
  }
}