
.home {
  &__inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__tab-nav {
    flex: 0 0 265px;
    width: 100%;
    height: fit-content;
    padding: 25px;
    border-radius: 32px;
    border: 1px solid $light;
    border-image:
    linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
    linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%) 1 stretch;

    backdrop-filter: blur(16px);
    }
  &__tab-nav-title {
    @include RobotoCondensed-600;
    font-size: 25px;
    color: $light;
    line-height: 1;
    margin-bottom: 30px;
  }
  &__tabs-content {
    max-width: 785px;
    width: 100%;
  }
}
.tabs {
  &__content {
  }
}
.tab {
  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__inner {
    display: flex;
    align-items: stretch;
  }

  &__content {

  }

}

.tab-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  &__btn {
    @include Inter-400;
    color: $light;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    background-color: transparent;
    display: block;
    padding: 2px 0;
    position: relative;
    width: 100%;
    text-align: left;

    &:hover {
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }
    
      &::before {
        left: -25px;
      }
    
      &::after {
        right: -25px;
      }
    }

    &:active {
    }


    &--active {
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }
      &::before {
        left: -25px;
      }
      &::after {
        right: -25px;
      }
    }
  }
}

.terms {
  &__section {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__main-title {
    @include RobotoCondensed-600;
    font-size: 72px;
    line-height: 1;
    color: $light;
    margin-bottom: 30px;
  }
  &__title {
    @include RobotoCondensed-600;
    font-size: 36px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
  }
  &__text {
    @include Inter-400;
    font-size: 18px;
    line-height: 1;
    color: $light;
  }
  &__item {
    @include Inter-400;
    font-size: 18px;
    line-height: 1;
    color: $light;
  }
}
.terms-link {
  @include Inter-400;
  color: $light-900;
  font-size: 18px;
  position: relative;
  padding-bottom: 1px;
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $light-900;
  }
}