$light: #fff;
$light-opacity-23: rgba(255, 255, 255, 0.23);
$light-900: #3DDC84;
$light-900-opacity-75: rgba(61, 220, 132, 0.75);
$light-900-opacity-64: rgba(61, 220, 132, 0.64);
$light-900-opacity-34: rgba(61, 220, 132, 0.34);
$dark: #0D1B2A;
