@import "reset";
@import "vars";
@import "global";


@import "./global/header";
@import "./sections/hero";
@import "./sections/advantages";
@import "./sections/steps";
@import "./sections/faq";
@import "./global/switcherLang"