@import "reset";
@import "vars";
@import "global";


@import "./global/header";
@import "./sections/hero";
@import "./sections/advantages";
@import "./global/switcherLang";

@import "./home";
@import "./home-rtl";
@import "./global/footer";
