@import "reset";
@import "vars";
@import "global";


@import "./global/header";
@import "./global/switcherLang";
@import "./global/switcherLang";
@import "./index/hero";
@import "./index/advantages";
@import "./index/steps";
@import "./index/reviews";
@import "./index/metrics";
@import "./index/plan";
@import "./index/apps";
@import "./index/map";
@import "./index/faq";
@import "./index/engagement";
@import "./global/footer";
@import "./global/cookie";

@import "./home";
@import "./home-rtl";


@import "./index/index-rtl";

