@import "reset";
@import "vars";
@import "global";


@import "./global/header";
@import "./global/switcherLang";
@import "./index/hero";
@import "./index/advantages";
@import "./index/steps";
@import "./index/metrics";
@import "./index/plan";
@import "./index/apps";
@import "./index/faq";
@import "./index/engagement";
@import "./index/footer";