.faq {
    &__title {
        text-align: left;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__item.blur-plate {
        border-radius: 32px;
        padding: 16px 16px 16px 24px;

        &::after {
            border-radius: 32px;
            background: linear-gradient(4.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(183.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%)
        }
    }

    &__inner {
        max-width: 987px;
        width: 100%;
    }

    &__button {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 600;
        font-family: "Roboto Condensed", sans-serif;
        transition: margin-bottom 0.3s;
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s, margin-top 0.3s;
    }

    &__icon {
        transform: rotate(90deg);
        transition: transform 0.3s;
    }
}