.hero {
    padding: 58px 0 80px;

    &__info {
        max-width: 440px;
        width: 100%;
        margin-right: auto;
    }

    &__badge {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding: 6px 8px 6px 12px;
        margin-bottom: 12px;
    }

    &__title {
        font-size: 72px;
        font-weight: 600;
        margin-bottom: 12px;
        font-family: "Roboto Condensed", sans-serif;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 32px;
    }
}