<header class="header">
    <div class="container">
        <nav class="menu">
            <div class="header__inner">
                <a class="logo" href="#">
                    <img src="./images/logo.svg" alt="CitadelVPN Logo" width="153" height="46">
                </a>
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Features
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Pricing
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Support
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Blog
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            News
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-menu">
                @@include('../components/switcherLang.html')
                <a class="cta user-menu__cta" href="#">
                    Open VPN
                    <svg class="icon" width="24" height="24">
                        <use href="./images/sprite.svg#telegram">
                        </use>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>