<div class="switcher-lang">
    <a class="switcher-lang__link" href="#" data-lang="en">
        <svg width="24" height="24">
            <use href="./images/sprite.svg#en">
            </use>
        </svg>
        En
    </a>
    <a class="switcher-lang__link" href="#" data-lang="ar">
        <svg width="24" height="24">
            <use href="./images/sprite.svg#ar">
            </use>
        </svg>
        عر
    </a>
    <a class="switcher-lang__link" href="#" data-lang="ru">
        <svg width="24" height="24">
            <use href="./images/sprite.svg#ru">
            </use>
        </svg>
        Ру
    </a>
</div>