<div class="switcher-lang blur-plate">
    <a class="switcher-lang__link" href="#">
        <div class="switcher-lang__box">
            <svg width="24" height="24">
                <use href="./images/sprite.svg#en">
                </use>
            </svg>
            En
        </div>
        <svg class="icon" width="11" height="6">
            <use href="./images/sprite.svg#arrowBottom">
            </use>
        </svg>
    </a>
    <!-- <a class="switcher-lang__link" href="#">
        <svg width="24" height="24">
            <use href="./images/sprite.svg#ar">
            </use>
        </svg>
        عر
    </a>
    <a class="switcher-lang__link" href="#">
        <svg width="24" height="24">
            <use href="./images/sprite.svg#ru">
            </use>
        </svg>
        Ру
    </a> -->
</div>